<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>
<body>

<h1>Hello World!</h1>
   <ul>
    <li><a href=https://humble-spork-w4wwq7jrprrh976x-4567.app.github.dev/dice/2/6> Roll two dice with 6 sides!</li>
    <li><a href=https://humble-spork-w4wwq7jrprrh976x-4567.app.github.dev/dice/2/10> Roll two dice with 10 sides!</li>
    <li><a href=https://humble-spork-w4wwq7jrprrh976x-4567.app.github.dev/dice/1/20> Roll one dice with 20 sides!</li>
    <li><a href=https://humble-spork-w4wwq7jrprrh976x-4567.app.github.dev/dice/5/4> Roll 5 dice with 4 sides!</li>
   </ul>
</body>
</html>
